<ul class="nav nav-pills nav-stacked leftmenu-menu">
  <li><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;<strong>{{ 'books' | translate }}</strong></li>
  <li role="presentation" ng-class="{ itemmenuactive: isActive('/books/all')}"><a href="/books/all" ng-class="{ itemmenuactive: isActive('/books/all')}">{{ 'all' | translate }}</a></li>
  <li role="presentation" ng-class="{ itemmenuactive: isActive('/books/me')}"><a href="/books/me" ng-class="{ itemmenuactive: isActive('/books/me')}">{{ 'mine' | translate }}</a></li>
</ul>