<div class="row rownomargin itemtitle">
	<div class="col-md-9 text-left">
		<strong><i>{{ book.title }}</i></strong>
	</div>
	<div class="col-md-3 text-right itemeditbutton" ng-click="editBook(book.id)" ng-show="book.myview">
		<span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;{{ 'edit' | translate }}
	</div>
	<div class="col-md-3 text-right itemeditbutton" ng-click="addBookToMyCollec(book)" ng-if="!book.mycollec">
		<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;{{ 'addtocollection' | translate }}
	</div>
	<div class="col-md-12 text-right">
		<strong>{{ book.author }}</strong>
	</div>
</div>
<div class="itemimage text-center">
	<img alt="cover" src="/medekimg/book/{{ book.id }}/cover.jpg" />
</div>
<div class="iteminfos">
	<div class="row">
		<div class="col-md-3 text-right">
			<span><b>{{ 'editor' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.editor }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span><b>{{ 'collection' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.collection }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span><b>{{ 'publicationDate' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.publicationDate }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span><b>{{ 'genre' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.genre }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span><b>{{ 'type' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.type }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span><b>{{ 'lang' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.lang }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span><b>{{ 'series' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.series }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span><b>{{ 'bookNb' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.bookNb }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span><b>{{ 'isSerieDone' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ book.isSerieDone }}</span>
		</div>
	</div>
</div>