target/
build/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.classpath
src/main/webapp/META-INF/maven/medek-server/medek-server/pom.properties
src/main/webapp/META-INF/MANIFEST.MF
src/main/webapp/META-INF/maven/medek-server/medek-server/pom.xml