<div class="row text-center">
	<div class="col-xs-4 text-center hidden-xs hidden-sm">
			<img src="img/logo_ericsson.png" />
	</div>
	<div class="col-xs-2 text-center">
			<img src="img/logo_arm.png" />
	</div>
	<div class="col-xs-4 text-center hidden-xs hidden-sm">
			<img src="img/logo_ericsson.png" />
	</div>
	<div class="col-xs-2 identity_frame text-right">
		{{ 'welcome' | translate }}<br />
		<button class="btn btn-link btn-xs" ng-click="openProfile()">{{ user.firstname }}</button><br />
		<button class="btn btn-link btn-xs" ng-click="openProfile()">{{ user.lastname }}</button><br />
		<a ui-sref="login" class="text-center">{{ 'logout' | translate }}</a>
	</div>
</div>
<div class="row">
	<div class="col-md-10" ncy-breadcrumb></div>
	<div class="col-md-2 btn-admin hidden-xs hidden-sm text-center" ng-if="user.admin">
		<button type="button" class="btn btn-primary btn-xs text-center" ng-click="goToAdmin()">{{ 'administration' | translate }}</button>
	</div>
</div>
<div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>