<header class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img alt="Medek logo" src="img/logo_app.png" >
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="medek-server/home">{{ 'home' | translate }}</a></li>
                <li class="divider"></li>
		        <li ng-class="{ active: isActive('/medek-server/albums')}"><a href="medek-server/albums">{{ 'albums' | translate }}</a></li>
		        <li ng-class="{ active: isActive('/medek-server/books')}"><a href="medek-server/books">{{ 'books' | translate }}</a></li>
		        <li ng-class="{ active: isActive('/medek-server/movies')}"><a href="medek-server/movies">{{ 'movies' | translate }}</a></li>
		        <li ng-class="{ active: isActive('/medek-server/series')}"><a href="medek-server/series">{{ 'series' | translate }}</a></li>
	        </ul>
			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text">{{ user.login }}</p></li>
                <li><p class="navbar-text"> </p></li>
			</ul>
		</div>
	</div>
</header>
<div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>