<div class="modal-header">
	<h3 class="modal-title">{{ 'myprofile' | translate }}</h3>
</div>
<div class="modal-body">
	<form novalidate="novalidate" class="form-horizontal" name="profileForm">
<!-- 	<div class="form-group">
		<label class="col-md-3 control-label">{{ 'firstname' | translate }}</label>
		<div class="col-md-3 text-left">
			<input type="text" ng-model="user.firstname" name="profileFirstName" class="form-control" required></input>
		</div>
		<label class="col-md-3 control-label">{{ 'lastname' | translate }}</label>
		<div class="col-md-3 text-left">
			<input type="text" ng-model="user.lastname" name="profileLastName" class="form-control" required></input>
		</div>
	</div>  -->
	<div class="form-group">
		<label class="col-md-3 control-label">{{ 'email' | translate }}</label>
		<div class="col-md-6 text-left">
			<input type="email" ng-model="user.email" name="profileEmail" class="form-control" required></input>
		</div>
	</div>
	<hr />
	<div class="form-group">
		<label class="col-md-3 control-label">{{ 'oldpassword' | translate }}</label>
		<div class="col-md-3 text-left">
			<input type="password" ng-model="user.oldpassword" class="form-control"></input>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">{{ 'changepassword' | translate }}</label>
		<div class="col-md-3 text-left">
			<input type="password" ng-model="user.newpassword" name="newpwd" class="form-control"></input>
		</div>
		<label class="col-md-3 control-label">{{ 'confirmpassword' | translate }}</label>
		<div class="col-md-3 text-left">
			<input type="password" ng-model="user.newconfpassword" name="confirmpwd" compare-to="user.newpassword" class="form-control"></input>
		</div>
	</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'ok' | translate }}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>