<div class="row rownomargin itemtitle">
	<div class="col-md-6 text-left">
		<strong>{{ serie.title }}</strong>
	</div>
	<div class="col-md-6 text-right itemeditbutton" ng-click="editSerie(serie.id)">
		<span class="glyphicon glyphicon-edit"></span>{{ 'edit' | translate }}
	</div>
</div>
<div class="itemimage text-center">
	<img alt="cover" src="/medekimg/tvshows/{{ serie.id }}/cover.jpg" />
</div>
<div class="iteminfos">
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'description' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.description }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'releaseDate' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.releaseDate }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'genre' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.genre }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'support' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.support }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'length' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.length }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'season' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.season }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'series' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.series }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'isSeriesDone' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.isSeriesDone }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'langs' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<div ng-repeat="lang in serie.langs" ng-include="'app/views/series/audiodetails.html'"></div>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'subtitles' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<div ng-repeat="lang in serie.subtitles" ng-include="'app/views/series/audiodetails.html'"></div>
		</div>
	</div>
</div>