<div class="itemtitle">
	<span><strong>{{ serie.title }}</strong></span>
</div>
<div class="itemimage text-right">
	<img alt="cover" src="{{ serie.cover }}" />
</div>
<div class="iteminfos">
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'description' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.description }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'releaseDate' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.releaseDate }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'genre' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.genre }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'support' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.support }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'length' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.length }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'season' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.season }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'series' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.series }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'isSeriesDone' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.isSeriesDone }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'langs' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.langs }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'subtitles' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ serie.subtitles }}</span>
		</div>
	</div>
</div>