<ul class="nav nav-pills nav-stacked leftmenu-menu">
  <li><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;<strong>{{ 'movies' | translate }}</strong></li>
  <li role="presentation" ng-class="{ itemmenuactive: isActive('/movies/all')}"><a href="/movies/all" ng-class="{ itemmenuactive: isActive('/movies/all')}">{{ 'all' | translate }}</a></li>
  <li role="presentation" ng-class="{ itemmenuactive: isActive('/movies/me')}"><a href="/movies/me" ng-class="{ itemmenuactive: isActive('/movies/me')}">{{ 'mine' | translate }}</a></li>
</ul>