<div class="col-md-8 mainlist">
	<form>
		<div class="col-md-2 text-right itemcreatebutton" ng-click="createMovie()">
			<span class="glyphicon glyphicon-plus"></span>{{ 'create' | translate }}
		</div>
		<div class="col-md-10 itemsearch">
		    <input type="text" class="form-control listitem-search" id="filter" placeholder="{{ 'search' | translate }}">
		</div>
	</form>
	<div ng-repeat="movie in movies" ng-include="'app/views/movie/moviedetails.html'"></div>
</div>
<div class="itempanel">
	<div ui-view />
</div>
