<div class="row rownomargin itemtitle">
	<div class="col-md-6 text-left">
		<strong>{{ movie.title }}</strong>
	</div>
	<div class="col-md-6 text-right itemeditbutton" ng-click="editMovie(movie.id)">
		<span class="glyphicon glyphicon-edit"></span>{{ 'edit' | translate }}
	</div>
</div>
<div class="itemimage text-right">
	<img alt="cover" src="{{ movie.cover }}" />
</div>
<div class="iteminfos">
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'description' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ movie.description }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'releaseDate' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ movie.releaseDate }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'genre' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ movie.genre }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'support' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ movie.support }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'length' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ movie.length }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'isCollector' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ movie.isCollector }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'langs' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<div ng-repeat="lang in movie.langs" ng-include="'app/views/movie/audiodetails.html'"></div>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'subtitles' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<div ng-repeat="lang in movie.subtitles" ng-include="'app/views/movie/audiodetails.html'"></div>
		</div>
	</div>
</div>