.rownomargin {
    margin-left: 0px;
    margin-right: 0px;
}


.mynavbar {
	color: #EFEFEF;
	border-color: #EFEFEF;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 45px;
}

.mainmenuactive {
	background-color: #428BCA;
	color: #FFF;
}

.persomenu {
	margin-top: 8px;
}

.home-stats {
	background-color: #FAFAFA;
}

.mainlist {
	padding-right: 0px;
	padding-left: 0px;
}

.leftmenu {
	background-color: #EAEAEA;
	padding-left: 0px;
    padding-right: 0px;
}

.leftmenu-menu {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

.itemmenuactive: {
	background-color: #00F;
	color: #FFF;
}

.listitem {
}

.listitem-search {
	border-radius: 0px;
}

.listitem-item {
	border-width: 1px;
	border-color: #AADDDD;
	border-style: solid;
	border-top-width: 0px;
	padding: 5px;
}

.listitem-item-odd {
	background-color: #F0FFFF;
}

.listitem-item-even {
	background-color: #FFF;
}

.itempanel {
	padding-left: 0px;
	padding-right: 0px;
}

.itemtitle {
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #F5F5F5;
}

.itemeditbutton {
	font-size: 14px;
}

.itemimage {
	padding: 10px;
	background-color: #F5F5F5;
}

.iteminfos {
	padding: 10px;
	background-color: #F5F5F5;
}

.createinfos {
	padding: 10px;
	background-color: #FFF;
}

.itemcreatebutton {
	font-size: 14px;
	background-color: #FFF;
	border-color: #AFAFAF;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    height: 34px;
    vertical-align: middle;
    padding-top: 6px;
}

.itemsearch {
	padding-left: 0px;
	padding-right: 0px;
}

.itemlistfirst {
	margin-top: 34px;
}

.tracklist {
	border-color: #00F;
    border-width: 1px;
    border-style: solid;
}

.tracktitle {
	padding: 5px 10px;
}

.trackitem {
	padding-top: 3px;
	padding-bottom: 3px;
}

.oddtrack {
	background-color: #F0FFFF;
}

.eventrack {
	background-color: #FFFFFF;
}