<div class="col-md-8 row mainlist">
	<div class="col-md-2 text-right itemeditbutton" ng-click="createAlbum()">
		<span class="glyphicon glyphicon-plus"></span>{{ 'create' | translate }}
	</div>
	<form class="col-md-10">
	    <input type="text" class="form-control listitem-search" id="filter" placeholder="{{ 'search' | translate }}">
	</form>
	<div ng-repeat="album in albums" ng-include="'app/views/album/albumdetails.html'"></div>
</div>
<div class="itempanel">
	<div ui-view />
</div>
