<div class="row rownomargin itemtitle">
	<div class="col-md-6 text-left">
		<strong>{{ album.title }}</strong>
	</div>
	<div class="col-md-6 text-right itemeditbutton" ng-click="editAlbum(album.id)">
		<span class="glyphicon glyphicon-edit"></span>{{ 'edit' | translate }}
	</div>
</div>
<div class="itemimage text-center">
	<img alt="cover" src="/medekimg/album/{{ album.id }}/cover.jpg" />
</div>
<div class="iteminfos">
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'artist' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.artist }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'releaseDate' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.releaseDate }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span>{{ 'genre' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.genre }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span>{{ 'support' | translate }}</span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.support }}</span>
		</div>
	</div>
	<div class="tracklist">
		<div class="tracktitle">
			<span>{{ 'tracks' | translate }} ( {{ album.nbTracks }} )</span>
		</div>
		<div ng-repeat="track in album.tracks" ng-include="'app/views/album/trackdetails.html'"></div>
	</div>
</div>