<div class="row rownomargin itemtitle">
	<div class="col-md-9 text-left">
		<strong><i>{{ album.title }}</i></strong>
	</div>
	<div class="col-md-3 text-right itemeditbutton" ng-click="editAlbum(album.id)" ng-show="album.myview">
		<span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;{{ 'edit' | translate }}
	</div>
	<div class="col-md-3 text-right itemeditbutton" ng-click="addAlbumToMyCollec(album)" ng-show="!album.mycollec">
		<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;{{ 'addtocollection' | translate }}
	</div>
	<div class="col-md-12 text-right">
		<strong>{{ album.artist }}</strong>
	</div>
</div>
<div class="itemimage text-center">
	<img alt="cover" src="/medekimg/album/{{ album.id }}/cover.jpg" />
</div>
<div class="iteminfos">
	<div class="row">
		<div class="col-md-3 text-right">
			<span><b>{{ 'genre' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.genre }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span><b>{{ 'releaseDate' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.releaseDate }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-right">
			<span><b>{{ 'length' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.length }}</span>
		</div>
		<div class="col-md-3 text-right">
			<span><b>{{ 'support' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.support }}</span>
		</div>
	</div>
	<div class="row" ng-if="album.mycollec">
		<div class="col-md-3 text-right">
			<span><b>{{ 'rating' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<rating ng-model="album.rating" max="5" readonly="true"></rating>
		</div>
		<div class="col-md-3 text-right">
			<span><b>{{ 'issigned' | translate }}</b></span>
		</div>
		<div class="col-md-3 text-left">
			<span>{{ album.signed }}</span>
		</div>
	</div>
	<br/>
	<div class="tracklist">
		<div class="tracktitle">
			<span>{{ 'tracks' | translate }} ( {{ album.nbTracks }} )</span>
		</div>
		<div ng-repeat="track in album.tracks" ng-include="'app/views/album/trackdetails.html'"></div>
	</div>
</div>